body {
  font-family: Arial, sans-serif;
  background-color: #fcf5eb;
}

.products-section {
  margin-top: 100px;
}

.product-card {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.product-card.visible {
  opacity: 0.5;
  transform: translateY(0);
}

.product {
  position: relative;
  overflow: hidden;
}

.product img {
  width: 100%;
  transition: transform 0.3s ease;
}

.product .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product:hover .hover-img {
  opacity: 1;
}

.product:hover .main-img {
  transform: scale(1.1);
}
